*.exe
*.test
*debug_bin*
*node_modules*
test_results
*.vscode*
secrets*
dist
.vscode/settings.json
secrets*
*-packr.go
cmd/tools/syncdirectory/config/config.hidden.json
.idea
/rpx
cmd/tools/datastoreproto/protoc-gen-datastore
.env
/*.db
cmd/tools/syncdirectory/config.json
cmd/tools/syncdirectory/syncdirectory
products/**/*.pb.go
products/**/*.micro.go
proto/**/*.pb.go
proto/**/*.micro.go
services/**/*.pb.go
services/**/*.micro.go
internal/**/*.pb.go
internal/**/*.micro.go
.DS_Store
tools/scripts/database/backups*